@import "tailwindcss";

:root {
  --font-common: "Inter", sans-serif;
}

.bodyBg {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn;
}
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn;
}

.section {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.scrb {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.25) rgba(0,0,0,0.05);
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scrb::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrb::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.03);
  border-radius: 9999px;
}
.scrb::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.25);
  border-radius: 9999px;
  border: 2px solid rgba(0,0,0,0.06);
}
.scrb::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.35);
}